<!DOCTYPE html>
<html>
<head>
    <title>About - Student Information System</title>
</head>
<body>
    <h1>About the Student Information System</h1>
    <p>This web page was built using Django to show basic student details.</p>
    <p><strong>Name:</strong> Christian P. Castillo</p>
    <p><strong>Name: </strong> Shimmer Brix S. Armas </p>
    <p><strong>Name: </strong> Drexen Eugenio C. Reyes</p>
    <p><strong>Course:</strong> BSIT DA 3-1</p>
    <p><strong>School:</strong> Web Systems and Technologies Department</p>
</body>
</html>