<!DOCTYPE html>
<html>
  <head>
    <title>Student Information System</title>
  </head>
  <body>
    <h1>Student Information System</h1>
    <h2>Student List</h2>
    <table border="1">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Course</th>
        <th>Age</th>
      </tr>
      {% for student in students %}
        <tr>
          <td>{{ student.firstname }}</td>
          <td>{{ student.lastname }}</td>
          <td>{{ student.course }}</td>
          <td>{{ student.age }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>